<h1 class="text-center">Cadastro de Fotos</h1>

<div class="container">
    <h1 class="text-center">{{foto.titulo}}</h1>

    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>

    <form [formGroup]="meuForm" class="row" (submit)="cadastrar($event)">
        <div class="col-md-6">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input
                    formControlName="titulo"
                    name="titulo"
                    [(ngModel)]="foto.titulo"
                    type="text"
                    class="form-control"
                    autocomplete="off">
                    <div *ngIf="meuForm.controls.titulo.invalid">
                        <span *ngIf="meuForm.controls.titulo.errors.required" class="form-control alert-danger">
                            Título Obrigatório
                        </span>
                        <span *ngIf="meuForm.controls.titulo.errors.minlength" class="form-control alert-danger">
                            Deve ter no mínimo 4 caractéres
                        </span>
                    </div>
            </div>
            <div class="form-group">
                <label for="URL">URL</label>
                <input
                    formControlName="url"
                    name="url"
                    [(ngModel)]="foto.url"
                    type="text"
                    class="form-control"
                    autocomplete="off">
                <span *ngIf="meuForm.controls.url.invalid" class="form-control alert-danger">
                    Título Obrigatório
                </span>
            </div>
            <div class="form-group">
                <label for="titulo">Descrição</label>
                <input
                    formControlName="descricao"
                    name="descricao"
                    [(ngModel)]="foto.descricao"
                    type="text"
                    class="form-control"
                    autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="meuForm.invalid">
                Salvar
            </button>
            <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
        </div>
        <div class="col-md-6">
            <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
        </div>
    </form>
</div>
