<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<div class="container">
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/cadastro']" class="btn btn-primary">
                            Nova Foto
                        </a>
                    </span>
                    <input #textoProcurado (keyup)="0" type="text" class="form-control" placeholder="Filtrar pelo título da foto">
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div>
            <painel *ngFor="let foto of fotos | filtroPorTitulo: textoProcurado.value" titulo="{{foto.titulo | uppercase}}" class="col-md-2">
                <a [routerLink]="['/cadastro', foto._id]">
                    <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
                </a>
                <button class="btn btn-danger btn-block" (click)="remove(foto)">Remover</button>
            </painel>
        </div>
    </div>
</div>
